<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pathFolderRepository" value="C:\Users\JOSE\Documents\visual studio 2010\Projects\EDoc\Test\RepositoryFiles" />
    <add key="maxSentence" value="100" />
    <add key="maxDocumentsFound" value="300" />

    <add key="logIsActive" value="true" />
    <add key="logSeparator" value="|" />
    <add key="logFilePath" value="C:\Users\JOSE\Documents\visual studio 2010\Projects\EDoc\Test\Log" />
    <add key="logType" value="TXT" />

  </appSettings>
</configuration>