@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Search";
}

<section id="introduction" class="section background-gray-light no-padding-bottom vertical-align-middle text-center">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--<h3 class="section-title display-inline-block font-family-alt margin-4 no-margin-rl no-margin-top text-extra-large text-uppercase title-underline">
                        What're we looking for? Asktume.
                    </h3>-->
                    <h2 class="font-family-alt title-large-4">
                        <span class="text-color font-family-alt">Asktume </span>
                    </h2>

                    <!--<p class="font-weight-300 text-responsive title-extra-large-3">I'm <span class="font-weight-400">Wanda</span> - a freelance <span class="text-highlight">designer</span> living in Ubud, Bali. I <span class="font-weight-400">specialize</span> in creating emotional <span class="text-highlight">connections</span> between my clients and their audience by <span class="font-weight-400">adding personality</span> to their <span class="font-weight-400">brand</span>.</p>-->
                    <!--<p class="font-weight-300 margin-3-5 no-margin-bottom no-margin-rl text-responsive title-extra-large-3">I'm currently <span class="font-weight-400">looking</span> for a work position in a <span class="font-weight-400">digital agency</span>. I'm also <span class="text-highlight">available</span> for some freelance work.</p>-->

                    <div id="wrap">
                        <form action="" autocomplete="on">
                            <input id="search" name="q" type="text" placeholder="What're we looking for ?">
                            <input id="search_submit" value="Search" type="submit">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

