<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pathFolderRepository" value="D:\projetos\edoc\CodeRepository\eDoc\Test\RepositoryFiles" />
    <add key="maxSentence" value="100" />
    <add key="maxDocumentsFound" value="300" />

    <add key="logIsActive" value="true" />
    <add key="logSeparator" value="|" />
    <add key="logFilePath" value="D:\projetos\edoc\CodeRepository\eDoc\Test\Log" />
    <add key="logType" value="TXT" />

  </appSettings>
</configuration>