<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="pathFolderRepository" value="D:\projetos\edoc\CodeRepository\eDoc\Test\RepositoryFiles"/>
    <add key="pathFolderIndex" value="D:\projetos\edoc\CodeRepository\eDoc\Test\IndexFiles"/>
    
    <add key="maxSentence" value="100"/>
    <add key="maxResultList" value="10000"/>

    <add key="logIsActive" value="true"/>
    <add key="logSeparator" value="|"/>
    <add key="logFilePath" value="D:\projetos\edoc\CodeRepository\eDoc\Test\Log\ExecutionLog.txt"/>
    <add key="logType" value="TXT"/>
    <add key="documentIndexType" value="Hashtable"/>
    <add key="lexiconType" value="Hashtable"/>
    <add key="invertedFileType" value="Memory"/>
    <!--<add key="invertedFileType" value="Memory"/>-->

    <!--<add key="engineType" value="Memory"/>-->
    <add key="engineType" value="Disk"/>

    <add key="rankTypeFunction" value="simple-tf-idf"/>
    
    

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
