<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="pathFolderRepository" value="D:\projetos\edoc\CodeRepository\eDoc\FilesReport\Repository"/>
    <add key="maxSentence" value="100"/>
    <add key="maxDocumentsFound" value="300"/>

    <add key="logIsActive" value="true"/>
    <add key="logSeparator" value="|"/>
    <add key="reportSeparator" value="|"/>
    <add key="logFilePath" value="D:\projetos\edoc\CodeRepository\eDoc\FilesReport\Log\ExecutionLog.txt"/>
    <add key="reportFolder" value="D:\projetos\edoc\CodeRepository\eDoc\FilesReport\Report"/>
    <add key="logType" value="TXT"/>
    <add key="reportType" value="TXT"/>
    <add key="documentIndexType" value="Hashtable"/>
    <add key="lexiconType" value="Hashtable"/>
    
     <!--- Warning for longfileNameSupportType: If you have problems with files that has names with more than 255 chars, change this for true.
        Supported type"s:
         - NET: for .net default support
         - LONG: for too long file names
     --> 
    
    <add key="longfileNameSupportType" value="net"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
